<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web Crawler Settings</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/static/css/style.css">

    
</head>

<body>

<nav class="navbar">
    <ul class="nav--list">
        <li class="item"><a href="/">Home</a></li>
        <li class="item"><a href="/feed">Feed</a></li>
        <li class="item"><a href="/settings">Settings</a></li>
        <li class="item"><a href="/about">About</a></li>
    </ul>
</nav>

<main class="page">
    <div class="container--crawl">
        <h1>Web Crawler Settings</h1>
        <div class="subtitle">Configure and save settings (NOT IMPLEMENTED)
        </div>

        <form id="crawl-form">
            <label>
                Frequent URLs
                <label for="myfile">Select a file:</label>
                <input type="file" id="myfile" name="myfile">
            </label>

            <label>
                Default Max Pages
                <input type="number" id="max_pages" value="10" min="1">
            </label>

            <label>
                Default Max Concurrency
                <input type="number" id="max_concurrency" value="3" min="1">
            </label>

            <button type="submit">Save Settings</button>
        </form>

</div>
</main>

<footer class="footer">
    <div class="footer-inner">
        <span>© 2026 · CrawlFeed</span>
        <span class="footer-muted">Experimental crawler by Koby Buchanan</span>
    </div>
</footer>
   
</body>
</html>
